/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  
}

.nav-sidebar-purple > .active a{
  color: #82ADDC !important;
  background-color: #45226A !important;
}

.nav-sidebar-purple li a{
  color: white;
}

.badge-green{
  background-color:#BAD547;
  border-radius:8px;
}

.font-purple{
  color:#542581;
  font-size:16px;
}

.icon-bar-purple{
   background-color: #542581;
}
.purple{
  color: #542581;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-nav > li > a, .navbar-brand {
    /*padding-top:4px !important; */
    /*padding-bottom:0 !important;*/
    height: 70px;
    line-height:35px !important;
}

.navbar-nav > li > div{
    /*padding-top:4px !important; */
    /*padding-bottom:0 !important;*/
    height: 35px;
    line-height:35px !important;
}

.navbar {
	min-height:70px !important;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.divider-vertical {
	height: 70px;
	margin: 0 9px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #FFF;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: -21px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
