body {
   height:100vh;
   background: linear-gradient(180deg, #542581 50%, #E3E4E8 50%);
}

a{
	color: #65CDF4;
}

.font-purple{
	color:#542581;
	font-size:16px;
}

.font-purple-bold{
	color:#542581;
	font-weight: bold;
}

.btn-main{
	padding:20px;
	width:100%;
	background-color:#71C5E9;
	color:#542581;
	font-weight:bold;
}